# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.pio/build/uno/.sconsign39.dblite
.pio/build/uno/firmware.elf
.pio/build/uno/firmware.hex
.pio/build/project.checksum
.pio/build/project.checksum
.pio/build/uno/idedata.json
.vscode/c_cpp_properties.json
